.card-div{
  margin: 0 !important;
}

.card_img{
  width: 8em;
  height: 10em;
  border-radius: 0 !important;
}

.card{
  width: 12em !important;
  padding: 0 !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin: .5em;
  border-radius: 0 !important;
}

.card:hover{
  border: solid .1em #000;
  box-shadow: 5px 10px 20px 1px rgba(12, 12, 12, 0.273) !important;
  transition: all 0.5s linear;

}

.card-body{
  padding: .8rem 0!important;
}

.text-marca {
  font-size: 1.3rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.15);
}

.btn:hover{
  color:  #fff !important;
  background-color: rgb(41, 37, 37) !important;
}