.card-div{
  margin: 0 !important;
}

.card_img{
  width: 10em;
  height: 10em;
}

.card{
  width: 12em !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin: .5em;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.5s linear;
}

.card-body{
  padding: 1rem 0!important;
}

.crat-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.15);
}

.btn:hover{
  color: rgb(41, 37, 37) !important;
  background-color: #fff !important;
}